.contributions {
  display: grid;
  gap: 4px;
  grid-auto-flow: column;
  grid-template-rows: repeat(7, 1fr);
  justify-content: flex-start;
}

.contribution {
  width: 11px;
  height: 11px;
  border-radius: 2px;
  outline: 1px solid rgba(27, 31, 35, 0.06);
  outline-offset: -1px;
  background-color: #ebedf0;
  transition: background-color 0.2s, color 0.2s ease-in-out;

  &[data-level="1"] {
    background-color: var(--picked-color-level-1);
  }
  &[data-level="2"] {
    background-color: var(--picked-color-level-2);
  }
  &[data-level="3"] {
    background-color: var(--picked-color-level-3);
  }
  &[data-level="4"] {
    background-color: var(--picked-color-level-4);
  }
}
